
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;700&display=swap');


body {
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e6e6e1;
    color: #353535;
}


header {
    display: flex;
    justify-content: space-between;
    padding: 20px 10%;
    background-color: #40584F;
    align-items: center;
}

footer {
    background-color: #40584F;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px;

}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

nav ul li a.active {
    color: #bb741e;
    font-weight: bolder;
    border-bottom: 2px solid #bb741e;
}

.hero {
    color: #40584F;
    padding: 100px;
    text-align: center;
}

.hero h1 {
    font-size: 2.5rem;
}


.intro {
    padding: 40px;
    background-color: rgb(255, 255, 255);
    text-align: center;
}

.intro p {
    color: #333;
    max-width: 800px;
    margin: 0 auto;
}

.stats {
    padding: 40px;
    background-color: rgb(255, 255, 255);
    text-align: center;
}

.stats-grids {
    display: flex;
    justify-content: space-around;
}

.statcard {
    background: #f3f3f3;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 200px;
    text-align: center;
}

.statcard h3 {
    font-size: 2rem;
    color: #be761d;
}

.products {
    padding: 40px;
    background-color: #f9f9f9;
    text-align: center;
}

.productgrid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-bottom: 60px;
}

.productcard {
    background: rgb(255, 255, 255);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 300px;
    position: relative;
    border-radius: 10px;
}

.productcard img {
    width: 100%;
    margin-bottom: 15px;
    border-radius: 7px;
}

.whychoose {
    padding: 40px 20px;
    text-align: center;
}

.benefgrid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.cardbenef {
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
}

.cardbenef img {
    width: 50px;
}

.callbutton {
    background-color: #bb741e;
    color: #ffffff;
    border-radius: 5px;
    padding: 12px 24px;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
}

.callbottom {
    padding: 40px 20px;
    background-color: #40584F;
    text-align: center;
    color: rgb(255, 255, 255);

}


.introabt {
    padding: 40px 20px;
    text-align: center;
    background-color: #f9f9f9;
    
}

.introabt p {
    max-width: 800px;
    margin: 0 auto;
    
}

.history {
    padding: 40px;
    text-align: center;
}

.history p {
    max-width: 1200px;
    margin: 0 auto;
}

.teamet {
    padding: 10px;
    background-color: #f9f9f9;
    text-align: center;
}

.teamgrid {
    display: flex;
    justify-content:space-evenly;
    margin-bottom: 20px;
}

.teammember {
    background: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 170px;
    text-align: center;
}

.teammember img {
    width: 75px;
    border-radius: 7px;

}

.contactformu {
    max-width: 600px;
    padding: 0 20px;
    margin: 0 auto;
    padding-bottom: 157px;
    text-align: center;

}

.formugroup {
    margin-bottom: 20px;
}


.formugroup input,
.formugroup select,
.formugroup textarea {
    width: 100%;
    padding: 10px;
}


.productdescription {
    padding: 40px;
    text-align: center;
    background-color: #f9f9f9;
}

.productimg {
    text-align: center;
    padding: 40px;
    
}

.imggrid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.imggrid img {
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.featureprod {
    padding: 40px 20px;
    background-color: rgb(255, 255, 255);
    text-align: center;
}

.featureprod h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.featureprod ul {
    text-align: left;
    max-width: 500px;
    margin: 0 auto;
}